html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;} /* remember to define focus styles! */ :focus {outline: 0;} /* remember to highlight inserts somehow! */ins {text-decoration: none;}del {text-decoration: line-through;} /* tables still need 'cellspacing="0"' in the markup */ table {border-collapse: collapse;border-spacing: 0;}

html {
	width: 100%;
	height: 100%;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration:underline;
}
		
body {
	width: 100%;
	height: 100%;
	text-align: left;
	margin: 0 auto;
	font-size: 13px;
		font-family: Gotham Round, helvetica;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	background-color: #1D3D56;
}

body {
/*	background:#1D3D56;
*/	/*background-image:url(../img/bgnoise.jpg));
*/
}
section {
	width: 100%;
	min-height: 100%;
	position: relative;
	z-index: 2;
}


.bg {
	position: absolute;
	z-index: 0;
	height: 200%;
	min-height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #E8534F;
	opacity: 1;
}

section.logo {
	background: no-repeat center 5%;
	background-image: url(../img/logo.png);
	background-size:auto;
	
}

section .copy {
	font-weight: bold;
	text-align: center;
	color: white;
	width: 380px;
	margin-top:20px;
		text-shadow: 4px 2px 2px rgba(150, 150, 150, 0.2);

}

section h2.copy{
	font-size: 50px;
	line-height: 60px;
	padding: 0px 0 100px;
	margin: 0 auto 0 auto;
}

section h3.copy {
	font-size: 28px;
	line-height: 50px;
	margin: 0 auto 0 auto;
	padding: 70px 0 150px;
	opacity: .6;
	
}

section h3.copy.info {
	font-size: 28px;
	line-height: 50px;
	margin: 0 auto 0 auto;
	padding: 0px 0 0px;
	opacity: .6;
	
}

section h4.copy.info {
	font-size: 20px;
	line-height: 50px;
	margin: 0 auto 0 auto;
	padding: 0px 0 0px;	
}
section h4.copy {
	font-size: 20px;
	line-height: 50px;
	margin: 0 auto 0 auto;
	padding: 0px 0 150px;	
}
div#logo {
	margin-top:20px;
	margin-left: 10px;
}


body#signUp .field {
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	height: 88px;
	border: 4px solid white;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	opacity: .3;
}



body#signUp .field input {
	font-size: 20px;
	font-weight: bold;
	font-family: Gotham Round, helvetica;
	padding: 20px 0;
	margin: 15px 0 0 20px;
	width: 260px;
	border: none;
	color: white;
	background: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	
}

body#signUp .field input::-webkit-input-placeholder,
body#signUp .field input::-moz-input-placeholder { 
	color: white;
}

body#signUp .field:hover input::-webkit-input-placeholder,
body#signUp .field.focused input::-webkit-input-placeholder,
body#signUp .field:hover input::-moz-input-placeholder,
body#signUp .field.focused input::-moz-input-placeholder { 
	color: #c2c2c2;
	opacity: .45;
}

body#signUp .field button {
	font-size: 20px;
	font-weight: bold;
	font-family: Gotham Round, helvetica;
	background: white;
	border-radius: 4px;
	border: none;
	padding: 0 20px;
	line-height: 48px;
	padding-top: 2px;
	border: 4px solid white;
	color: #c2c2c2;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

body#signUp .field:hover button, body#signUp .field.valid button, body#signUp .field.focused button {
	opacity: .45;
	line-height: 50px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.15);
	border-color: #c2c2c2;
}

body#signUp .field:hover, body#signUp .field.valid, body#signUp .field.focused {
	background: white;
	opacity: .95;
	box-shadow: 0 0 2px rgba(0,0,0,.3);
}

body#signUp .field:hover input, body#signUp .field.valid input, body#signUp .field.focused input {
	color: #c2c2c2;
}






body#signUp.bottom .field:hover input, body#signUp.bottom .field.valid input, body#signUp.bottom .field.focused input, body#signUp.bottomMiddle .field:hover input, body#signUp.bottomMiddle .field.valid input, body#signUp.bottomMiddle .field.focused input, body#signUp.middle .field:hover input, body#signUp.middle .field.valid input, body#signUp.middle .field.focused input {
	color: #1D3D56;
}

body#signUp.bottom .field button, body#signUp.bottomMiddle .field button, body#signUp.middle .field button {
	color: #1D3D56;
}

body#signUp.bottom .field:hover button, body#signUp.bottom .field.valid button, body#signUp.bottom .field.focused button, body#signUp.bottomMiddle .field:hover button, body#signUp.bottomMiddle .field.valid button, body#signUp.bottomMiddle .field.focused button, body#signUp.middle .field:hover button, body#signUp.middle .field.valid button, body#signUp.middle .field.focused button {
	border-color: #1D3D56;
}



body#signUp.bottom .field:hover input::-webkit-input-placeholder, body#signUp.bottom .field.focused input::-webkit-input-placeholder, body#signUp.bottomMiddle .field:hover input::-webkit-input-placeholder, body#signUp.bottomMiddle .field.focused input::-webkit-input-placeholder, body#signUp.middle .field:hover input::-webkit-input-placeholder, body#signUp.middle .field.focused input::-webkit-input-placeholder { 
	color: #1D3D56;
}


body#signUp .field.valid button,
body#signUp .field.focused.valid button {
	background: #5092E2;
	opacity: 1;
	border-color: #5092E2 !important;
	color: white;
	cursor: pointer;
	-webkit-animation: bounce .3s linear;
	-moz-animation: bounce .3s linear;
}

body#signUp .field.invalid {
	-webkit-animation: shake .3s ease-in;
	-moz-animation: shake .3s ease-in;
}



/*------------------------------------------------------------
	Confirm
------------------------------------------------------------*/


body#signUp .lightbox {
	width: 100%;
	height: 100%;
	position: fixed;
	top: -200%;
	left: -200%;
	opacity: 0;
}

body#signUp.done .field {
	display: none;
}


body#signUp.done .lightbox {
	top: 0;
	left: 0;
	background: rgba(28,45,56,.9);
	z-index: 100;
	text-align: center;
	opacity: 1;
	-webkit-transition: opacity .5s ease-out;
}

body#signUp.done .lightbox .fix {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	background: red;
}

body#signUp .lightbox .confirm {
}

body#signUp.done .lightbox .confirm {
	width: 352px;
	height: 326px;
	background: white;
	border-radius: 4px;
	margin: auto;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	box-shadow: 0 0 2px rgba(0,0,0,.2);

}


body#signUp.done .lightbox .confirm .social {
	width: 100%;
	height: 85px;
	border-top: 1px solid rgba(0,0,0,.15);
	position: absolute;
	bottom: 0;
}


/*------------------------------------------------------------
	Animations
------------------------------------------------------------*/


body.top .bg {
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	background-color: #5B8F4E;

}

body.topMiddle .bg {
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	background-color: #5B8F4E;
}

body.middle .bg {
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	background-color: #3C6652;
}

body.bottomMiddle .bg {
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	background-color: #2D5154;
}

body.bottom .bg {
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	background-color: #1D3D56;
}


/* == iPad [portrait + landscape] == */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

	body#signUp .field {
		position: absolute;
		bottom: 0;
		border-radius: 0;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}

	body#signUp .field input::-webkit-input-placeholder {
		color: #5B8F4E !important;
		opacity: .45;
	}

	body#signUp .field button {
		opacity: .45;
		line-height: 50px;
		box-shadow: 1px 1px 2px rgba(0,0,0,.15);
		border-color: #5B8F4E !important;
		color: #5B8F4E !important;
	}
	
	body#signUp .field {
		background: white;
		opacity: .95;
		box-shadow: 0 0 2px rgba(0,0,0,.3);
	}

	body#signUp .bg {
		display: none;	
	}

	section.logo {
		background-color:  #5B8F4E !important;
	}
	
	section.intro {
		background-color: #1D3D56 !important;
	}


}

